
#app {
    font-family: Arial, sans-serif;
}
.alert {
    font-size: 14px;
    padding: 10px;
}
.document-content {
    flex: 3;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 4px;
    margin-right: 20px;
}

.collaborators {
    flex: 1;
    border-left: 1px solid #ddd;
    padding-left: 15px;
    /* height: 100%; */
    overflow-y: auto;
    position: sticky;
    top: 0;
}


.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
.toolbar {
    margin-bottom: 10px;
}

.toolbar button {
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
}

.toolbar button:hover {
    background-color: #e0e0e0;
}


.list-group {
    margin-bottom: 20px;
}

.list-group-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}

.mt-2 {
    margin-top: 10px;
}

.version-content {
    position: absolute; 
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure it appears above other elements */
}

.custom-nav{
    --bs-bg-opacity: 1;
    background-color: rgba(33,37,41, 0.03) !important;
}
